<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infolog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}" fileName="log/info.log"  />
    <target name="debuglog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite:fileName=true} - ${message} ${exception:format=tostring}" fileName="log/debug.log" />
    <target name="errorlog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}" fileName="log/error.log" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="infolog" />
    <logger name="*" minlevel="Debug" writeTo="debuglog" />
    <logger name="*" levels="Error,Fatal" writeTo="errorlog" />
  </rules>
</nlog>