<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infolog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}" fileName="log/info.log"  encoding="UTF-8"  archiveFileName="$log/archives/info.${date:format=yyyyMMdd}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    <target name="debuglog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite:fileName=true} - ${message} ${exception:format=tostring}" fileName="log/debug.log"  encoding="UTF-8" archiveFileName="$log/archives/debug.${date:format=yyyyMMdd}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    <target name="errorlog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}" fileName="log/error.log"  encoding="UTF-8" archiveFileName="$log/archives/error.{###}.log" archiveAboveSize="1024000" archiveNumbering="Sequence" maxArchiveFiles="10" />
    <target name="sqllog" xsi:type="File" layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite:fileName=true} - ${message} ${exception:format=tostring}" fileName="log/sql.log" encoding="UTF-8" archiveFileName="$log/archives/sql.${date:format=yyyyMMdd}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="infolog" />
    <logger name="*" minlevel="Debug" writeTo="debuglog" />
    <logger name="*" levels="Error,Fatal" writeTo="errorlog" />
    <logger name="*SQL*" minlevel="Trace" writeTo="sqllog" />
  </rules>
</nlog>